<nav>
    <div class="site-title">
        <a href="/"><h1>Course Manager</h1></a>
        <p>Ivy Tech Community College</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/teachers">Teachers</a></li>
        <li><a href="/students">Students</a></li>
    </ul>
</nav>