<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>Course List</h2><em>By 2025,</em> half of Indiana's new jobs are going to require a post-secondary degree or certificate. To help you prepare,
     Ivy Tech offers a large variety of degrees, certificates, and workforce certifications in over 70 programs. Find the credential that fits your career interests below..</p>
  </div>
  <div class="course-catalog">
    <div class="course">
        <h3>Course Title 1</h3>
        <p>Course ID: 123</p>
        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button>Enroll</button>
    </div>
   
    <select name="course" id="course">
      <option value="course1">Course 1</option>
      <option value="course2">Course 2</option>
      <option value="course3">Course 3</option>
      <!-- Add more options as needed -->
  </select>
  

  <%- include("./partials/footer.ejs") %>
</body>
</html>
