<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

 

  <div class="create-blog content">
    <form>
      <label for="title">Course Name:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Course ID:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">Course description:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Add Course</button>
    </form>
    <form >
      <label for="title">Course Name:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Course ID:</label>
      <input type="text" id="snippet" name="snippet" required>
      <button>Search</button>
    </form>
  </div>

  

  <%- include("./partials/footer.ejs") %>
</body>
</html>